*
{
    padding: 0px;
    margin: 0px;
}
#header
{
    background: #663399;
    width: 100%;
    height: 100px;
    position: relative;
    box-shadow: -0.5px 5px 6px #696969;
}
#heading
{
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    padding: 30px;
    letter-spacing: 3px;
    position: absolute;
    margin-left: 120px;
}
#logo
{
    position: absolute;
    width: 120px;
    height: 100px;
    padding: 10px;
    animation: log 5s infinite;
}
@keyframes log
{
0% 
    {
    }
100%
    {
        transform: rotateY(360deg);
    }
}
#ct
{
    width: 50px;
    height: 50px;
    position: absolute;
    
}
#tsk
{
    height: 50px;
    width: 80%;
    background: #DCDCDC;
    border: none;
    margin-left: 200px;
    padding: 8px;
    font-size: 30px;
}
#dead
{
    height: 50px;
    width: 150px;
    background: #DCDCDC;
    border: none;
    margin-left: 200px;
    padding: 6px;
    font-size: 20px;
}
#cmd
{
    background: #663399;
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 200px;
    font-size: 20px;
    color: white;
    transition:box-shadow 0.2s ;
}
#cmd:hover
{
    box-shadow: 0px 10px 10px #9E9E9E;
}
#cmd2:hover
{
    box-shadow: 0px 10px 10px #9E9E9E;
}
#cmd3:hover
{
    box-shadow: 0px 6px 10px #9E9E9E;
}
#cmd2
{
    background: black;
    width: 100px;
    height: 40px;
    border: none;
    margin-left: 200px;
    font-size: 20px;
    color: white;
    transition:box-shadow 0.2s;

}


#comp
{
    background: #EEEEEE;
    width: 250px;
    height: 150px;
    margin-left: 600px;
    margin-top: -210px;
    border: 5px solid purple;
    padding: 0px;
    border-radius: 20%;
    text-align: center;
}
#done
{
    height: 50px;
    width: 150px;
    background: #DCDCDC;
    border: none;
    padding: 6px;
    font-size: 20px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
#cmd3
{
    background:#663399;
   width: 100px;
    height: 40px;
    transition:box-shadow 0.2s ;
    border: none;
    border-radius: 20px;
    color: white; 
    margin:auto;
}

#dead1
{
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    padding: 10px;
}
#tasks
{
    text-align: center;
    font-size: 25px;
    width: 100%;
 
    border-collapse: collapse;
}
tr
{
    font-family: sans-serif;
    padding: 10px;  
}
th
{
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    height: 40px;
    text-align: left;
}
table,th
{
    border: 1px solid #DCDCDC;
    border-collapse: collapse;
}
td
{
    padding: 3px;
    font-size: 20px;

}
tr:hover > td{
    color: black;
}
tr:nth-child(even){background: #DCDCDC; color: #00008B;}
tr:nth-child(odd){background: white; color: #C71585;}
#part
{
    width: 100%;
    height: 15px;
    background: linear-gradient(to right,#FA8072 0%,#FA8072 20%,#FF0000 20%,#FF0000 40%,#FF8C00 40%,#FF8C00 60%,#228B22 60%,#228B22 80%,#663399 80%,#663399 100%);
}
