*
{
    padding: 0px;
    margin: 0px;
}
#header
{
    background: #663399;
    width: 100%;
    height: 100px;
    position: relative;
}
#heading
{
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    padding: 30px;
    letter-spacing: 3px;
    position: absolute;
    margin-left: 120px;
}
#logo
{
    position: absolute;
    width: 120px;
    height: 100px;
    padding: 10px;

}

#ct
{
    width: 50px;
    height: 50px;
    position: absolute;
    
}
#tsk
{
    height: 50px;
    width: 80%;
    background: #DCDCDC;
    border: none;
    margin-left: 200px;
    padding: 8px;
    font-size: 30px;
}
#dead
{
    height: 50px;
    width: 150px;
    background: #DCDCDC;
    border: none;
    margin-left: 200px;
    padding: 6px;
    font-size: 20px;
}
#cmd
{
    background: #663399;
    width: 80px;
    height: 40px;
    border: none;
    margin-left: 200px;
    font-size: 20px;
    color: white;
}
#dead1
{
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    padding: 10px;
}
#tasks
{
    border: 2px black;
    text-align: center;
    padding: 40px;
    font-size: 25px;
    border-spacing: 10px;
    background: #DDA0DD;
        
}
