*
{
    padding: 0px;
    margin: 0px;
}
#header
{
    background: #663399;
    width: 100%;
    height: 100px;
    position: relative;
}
#heading
{
    color: white;
    font-size: 64px;
    font-family: sans-serif;
    padding: 30px;
    letter-spacing: 3px;
    position: absolute;
    margin-left: 120px;
}
#logo
{
    position: absolute;
    width: 120px;
    height: 100px;
    padding: 10px;

}

#ct
{
    width: 50px;
    height: 50px;
    position: absolute;
    
}
#tsk
{
    height: 50px;
    width: 80%;
    background: #DCDCDC;
    border: none;
    margin-left: 200px;
    padding: 8px;
    font-size: 30px;
}
#dead
{
    height: 50px;
    width: 150px;
    background: #DCDCDC;
    border: none;
    margin-left: 200px;
    padding: 6px;
    font-size: 20px;
}
#cmd
{
    background: #663399;
    width: 80px;
    height: 40px;
    border: none;
    margin-left: 200px;
    font-size: 20px;
    color: white;
}
#dead1
{
    font-size: 30px;
    font-family: sans-serif;
    position: absolute;
    padding: 10px;
}
#tasks
{
    padding: 1px;
    font-size: 25px;
    width: 40%;
    margin-left: 20px;
    border-collapse: collapse;
}
tr
{
    font-family: sans-serif;
    padding: 10px;  
}
th
{
    background: black;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    height: 40px;
    text-align: left;
}
table,th
{
    border: 1px solid #DCDCDC;
    border-collapse: collapse;
}
td
{
    padding: 3px;
    font-size: 20px;

}
tr:hover > td{
    color: black;
}
tr:nth-child(even){background: #DCDCDC; color: #00008B;}
tr:nth-child(odd){background: white; color: #C71585;}
#part
{
    width: 100%;
    height: 15px;
    background: linear-gradient(to right,#FA8072 0%,#FA8072 20%,#FF0000 20%,#FF0000 40%,#FF8C00 40%,#FF8C00 60%,#228B22 60%,#228B22 80%,#663399 80%,#663399 100%);
}
